.infoRight {
  width: 1020px;
  background-color: #fff;
  margin-left: 16px;
  color: #626a6a;

  .content {
    display: flex;
    margin-top: 8px;
  }
}

.cursorHover {
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
}


.content{
  margin-top: 8px;
  display: flex;


  .contentLeft{
    margin-right: 8px;
  }
}