.infoRight {
  display: flex;
  width: 1020px;
  background-color: #fff;
  justify-content: space-between;
  font-size: 12px;
  margin-left: 36px;
  color: #626a6a;
}

.title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.titleLeft {
  > img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-bottom: 16px;
  }
}
.button {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.button > Button {
  color: rgb(112, 126, 255);
  border-color: rgb(112, 126, 255);
}
.checkBtn > Button:first-child {
  margin-right: 8px;
}

.checkBtn {
  margin-bottom: 12px;
}
.infoList {
  display: flex;
  justify-content: space-between;
}
.d .name {
  font-weight: bold;
  font-size: 20px;
  color: #3d4242;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
