.infoRight {
  width: 1020px;
  background-color: #fff;
  font-size: 12px;
  margin-left: 16px;
  color: #626a6a;

  .content {
    display: flex;
    margin-top: 8px;
    .contentLeft {
      margin-right: 8px;
      .official_price {
        padding: 24px 24px 0 16px;
        > div {
          margin-bottom: 17px;
        }
        .picture_price,
        .video_price,
        .live_normal_price,
        .live_special_price {
          display: flex;
          justify-content: space-between;
        }
        .dataTime {
          font-size: 12px;
          font-family: Microsoft YaHei;
          font-weight: 400;
          color: #889191;
          > div:first-child {
            margin-bottom: 4px;
          }
        }
      }
      .private_price {
        :global {
          .ant-input {
            width: 172px;

            border-radius: 4px;
          }
        }
        padding: 16px 35px 8px 16px;
        margin-top: 8px;
        width: 212px;
        height: 478px;
        background: url(./img/bg_private-price.svg);
        .privateHead {
          display: flex;
          margin-bottom: 24px;
          > img {
            margin-right: 55px;
          }
          .note {
            font-size: 14px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #626a6a;
            > span:first-child {
              margin-right: 4px;
            }
          }
        }
        .picture_price_input,
        .video_price_input,
        .live_normal_price_input,
        .live_special_price_input,
        .note_input {
          font-size: 14px;
          font-family: Microsoft YaHei;
          font-weight: 400;
          line-height: 20px;
          color: #3d4242;
          margin-bottom: 16px;
          > div:first-child {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

.button {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.button > Button {
  color: rgb(112, 126, 255);
  border-color: rgb(112, 126, 255);
}
.checkBtn > Button:first-child {
  margin-right: 8px;
}

.checkBtn {
  margin-bottom: 12px;
}

.cursorHover {
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
}
.price {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 20px;
  color: #3d4242;
}
.number {
  font-size: 16px;
  font-family: DINPro;
  font-weight: 500;
  line-height: 18px;
  color: #3d4242;
}
