:global {
  .ant-table-thead > tr > th {
    background-color: hsl(180deg 16% 94%);
  }
  .ant-checkbox-inner {
    background-color: #fff;
  }
  .ant-table-thead > tr .ant-table-cell:first-child {
    border-radius: 6px 0 0 6px !important;
  }
  a.ant-typography,
  .ant-typography a {
    color: #727fff;
  }
  a.ant-typography:focus-visible,
  .ant-typography a:focus-visible,
  a.ant-typography:hover,
  .ant-typography a:hover {
    color: #727fff;
  }
}

.container {
  display: flex;
  font-family: DINPro;
  font-size: 12px;
}
.leftBox {
  width: 255px;
  border: 1px solid rgb(225, 230, 230);
  margin-right: 32px;
  .leftItem {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 11px 23px;
    &:hover {
      border-radius: 2px;
      color: rgb(112, 126, 255);
      background-color: rgba(225, 230, 230, 0.1);
    }
    .depName {
      display: inline-block;
      width: 130px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    > span:first-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.rightBox {
  width: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .filter {
      display: flex;
      gap: 24px;
      .userSearch,
      .characterType {
        display: flex;
        :global {
          .ant-input-affix-wrapper {
            width: 268px;
          }
        }
        > span:first-child {
          font-size: 14px;
          white-space: nowrap;
          font-weight: 400;
          color: rgb(61, 66, 66);
          padding: 0px 20px;
          line-height: 32px;
          height: 32px;
          border-top: 1px solid rgb(225, 230, 230);
          border-bottom: 1px solid rgb(225, 230, 230);
          border-left: 1px solid rgb(225, 230, 230);
          border-image: initial;
          border-right: none;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
      .clearFilter {
        border: 1px solid transparent;
        background-color: #edf2f2;
        color: #626a6a;
        font-size: 14px;
        padding: 4px 15px;
        border-radius: 2px;
        cursor: pointer;
      }
    }
    .btnGroup {
      display: flex;
      gap: 8px;
      :global {
        .ant-btn-primary:nth-child(2) {
          border: none;
          border-radius: 4px;
          background-color: #727fff;
          font-size: 14px;
        }
        .ant-btn-primary:nth-child(2):hover {
          background: #727fff;
        }
      }
    }
  }
}
.table {
  width: 100%;
  margin-top: 16px;
  :global {
    .ant-table-thead > tr > th {
      font-weight: 400;
      color: #889191;
    }
  }
}
.inName {
  cursor: pointer;
}
.checked {
  color: rgb(112, 126, 255);
  position: relative;
  z-index: 1;
}
.checked::after {
  content: '';
  height: 45px;
  top: 0;
  width: 100%;
  left: 0;
  display: inline-block;
  position: absolute;
  background: linear-gradient(90deg, #727fff 0%, #ffffff 100%);
  opacity: 0.1;
  border-radius: 2px;
}
