.infoLeft {
  background-color: #fff;
  white-space: nowrap;
  width: 156px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 16px 0 16px 22px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e1e6e6;
  font-weight: bold;
  > span {
    margin-left: 4px;
  }
}

.btnGroup{
  padding: 0px 24px 24px;

  .btn{
    cursor: pointer;
    padding: 10px 0 10px 16px;
    width: 112px;
    border: 1px solid #E1E6E6;
    border-radius: 34px;
    color: #3D4242;
    margin-bottom: 24px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
  
    &:hover{
      opacity: 0.8;
      border-color: #2998FF;
      color: #2998FF;
    }

    >span{
      display: inline-block;
      width: 80px;
      text-align: center;
    }
  
  }
  
  .checked{
    width: 142px;
    background-color: #2998FF;
    color: #fff;
    text-align: left;
    &:hover{
      color: #fff;
    }

    &::after{
      content: '';
      position: relative;
      right: -18px;
      top: 7px;
      display: inline-block;
      height: 0;
      width: 0;
      border-top: 6px solid #2998FF;
      border-bottom: 6px solid #2998FF;
      border-left: 8px solid #fff;
      border-right: 8px solid #2998FF;
      // left: 100%;
      // top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
}

