.content {
  margin-left: -14px;
  display: flex;
  flex: 1;
  :global {
    .ant-tag {
      color: #626a6a;
      border-radius: 4px;
      font-size: 14px;
    }
  }
}
.item {
  margin-right: 24px;
}
