.item {
  color: #626a6a;
  display: flex;
  align-items: center;
  margin-right: 24px;
  cursor: pointer;
  padding: 2px 4px;
  &:hover {
    color: #727fff;
  }
  &:first-child {
    padding-left: 0;
  }
}
