.content {
  position: relative;
  :global {
    .ant-tag {
      color: #626a6a;
      padding: 2px 8px;
      font-size: 14px;
      font-family: Microsoft YaHei-Regular, Microsoft YaHei;
      margin-right: 15px;
    }
    .ant-tag-checkable-checked {
      background-color: #727fff;
      color: #fff;
    }
    .ant-tag-checkable:active {
      background-color: #727fff;
    }
    .ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
      color: #727fff;
    }
  }
}
.pointer {
  cursor: pointer;
}
.selectedBox {
  display: flex;
  align-items: center;
  font-family: Microsoft YaHei;
  margin-bottom: 4px;
  font-size: 14px;
  color: #626a6a;
  font-weight: 400;
  border: none;
  padding: 4px 12px 4px 8px;
  border-radius: 4px;
  margin-right: 16px;
  background-color: rgb(237 242 242);
  > span:nth-child(2) {
    color: #727fff;
    margin-left: 8px;
  }
  > span:nth-child(3) {
    color: #000;
  }
  > span:last-child {
    color: #ff401a;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
.reset {
  color: #ff401a;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
