.searchInput {
  :global {
    .ant-radio-button {
      background: #727fff;
      opacity: 1;
      border-radius: 4px 4px 0px 0px;
    }
    .ant-radio-group-solid {
      border-bottom: none;
    }
    .ant-btn-primary {
      width: 56px;
      height: 40px;
      background: #727fff;
      opacity: 1;
      border-radius: 7px;
    }
    .ant-input {
      width: 500px;
      height: 48px;
      background: #edf2f2;
      opacity: 1;
      border-radius: 4px;
    }
    .ant-input-group {
      display: block;
    }
  }
  margin-top: 30px;
}
.searchInput > .input {
  :global {
    .ant-input-wrapper .ant-input-group {
      // margin-top: 30px;
      // width: 500px;
      // height: 48px;
      background-color: #edf2f2;
      opacity: 1;
      border-radius: 4px;
    }
  }
}
