.checkBox {
  display: flex;
  text-align: center;
  line-height: 32px;
  margin-top: 24px;
  > div {
    margin-right: 32px;
    background: #f7fafa;
    border-radius: 4px;
    width: 94px;
    height: 32px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .active {
    background: rgba(#475ce6, 0.1);
    border-bottom: 2px solid #475ce6;
    color: #475ce6;
    font-weight: bold;
  }
}
